<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
          https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>Devops_cicd</id>
      <username>aws</username>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>codeartifact</id>
      <mirrorOf>*</mirrorOf>
      <url>https://devops-406202011526.d.codeartifact.us-east-1.amazonaws.com/maven/Devops_cicd/</url>
    </mirror>
  </mirrors>

</settings>




<!-- <settings>

<servers>
  <server>
    <id>devops-Devops_cicd</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>devops-Devops_cicd</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>devops-Devops_cicd</id>
        <url>https://devops-406202011526.d.codeartifact.us-east-1.amazonaws.com/maven/Devops_cicd/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>devops-Devops_cicd</id>
    <name>devops-Devops_cicd</name>
    <url>https://devops-406202011526.d.codeartifact.us-east-1.amazonaws.com/maven/Devops_cicd/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings> -->